---
import { PERSONAL_INFO } from "../../data/personal";
import Section from "../UI/Section.astro";
import Title from "../UI/Title.astro";
import Badge from "../UI/Badge.astro";
---

<Section id="about" title="Presentación">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-12 items-center">
        <!-- Photo Column -->
        <div
            class="relative group mx-auto drop-shadow-[8px_8px_0_#7836cf]"
            data-aos="fade-right"
        >
            <div class="absolute -inset-1 rounded-2xl"></div>
            <div class="relative">
                <video
  src="public/videos/VideoPresentacion.mp4"
  class="rounded-2xl w-full max-w-sm object-cover"
  autoplay
  muted
  loop
  playsinline
></video>
            </div>
        </div>

        <!-- Description Column -->
        <div class="flex flex-col gap-6" data-aos="fade-left">
            <Title level={3}>
                {PERSONAL_INFO.title}
            </Title>
            <p
                class="text-lg md:text-xl text-gray-300 leading-relaxed font-light"
            >
                Hola yo soy <span class="text-white font-semibold"
                    >{PERSONAL_INFO.name}</span
                >,
                {PERSONAL_INFO.description}
            </p>
            <p
                class="text-lg md:text-xl text-gray-300 leading-relaxed font-light"
            >
                {PERSONAL_INFO.journey}
            </p>
            <div class="flex flex-wrap gap-4 mt-4">
                {
                    PERSONAL_INFO.skills &&
                        PERSONAL_INFO.skills.map((skill) => (
                            <Badge class="px-4 py-2 bg-white/5 text-sm text-gray-400">
                                {skill}
                            </Badge>
                        ))
                }
            </div>
        </div>
    </div>
</Section>
